./project/ai-bot-for-ultimate-tic-tac-toe/index.html
./project/concurrent-voting-mechanism/index.html
./project/consistent-bellman-operator/index.html
./project/go-back-n-protocol/index.html
./project/pricing-mechanism/index.html
./project/relative-attributes/index.html
./project/universal-style-transfer/index.html
./project/relative-attributes/index.html
